.desktop122-container {
  min-height: 100vh;
}
.desktop122-desktop122 {
  width: 1440px;
  height: 2790px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop122-image {
  position: absolute;
  width: 1514px;
  height: 1211px;
  left: -59px;
  top: -340px;
  
  background: url(paul-fiedler-L-O36LuX9TY-unsplash.jpg);
  filter: blur(12px);
}
.desktop122-image1 {
  top: -340px;
  left: -59px;
  width: 1514px;
  height: 1211px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.desktop122-navbar23 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 120px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-image: linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(44, 44, 44, 1) 31%, rgba(17, 17, 17, 1) 96%);
}
.desktop122-image2 {
  top: 10px;
  left: 82px;
  width: 364px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.desktop122-text {
  top: 45px;
  left: 843px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text01 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text02 {
  top: 45px;
  left: 977px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text03 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text04 {
  top: 45px;
  left: 1111px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text05 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text06 {
  top: 45px;
  left: 1240px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text07 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text08 {
  top: 435px;
  left: 82px;
  color: rgba(255, 255, 255, 1);
  width: 586px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Hind Madurai;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text09 {
  color: rgba(255, 255, 255, 1);
  width: 586px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text10 {
  top: 221px;
  left: 82px;
  color: rgba(255, 255, 255, 1);
  width: 566px;
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop122-text11 {
  position: absolute;
width: 566px;
height: 196px;
left: 00px;
top: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 98px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.desktop122-frame1213 {
  top: 630px;
  left: 82px;
  width: 293px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(22, 18, 17, 1);
}
.desktop122-text12 {
  top: 25px;
  left: 80px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-frame2215 {
  top: 873px;
  left: 0px;
  width: 1440px;
  height: 628px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(9, 7, 7, 1) 16%, rgba(1, 1, 1, 1) 100%);
}
.desktop122-text14 {
  
  top: 108px;
  left: 112px;
  color: rgba(255, 255, 255, 1);
  width: 388px;
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  font-family: 'Montserrat'
}
.desktop122-text15 {
  color: rgba(255, 255, 255, 1);
  width: 388px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text16 {
  top: 234px;
  left: 112px;
  color: rgba(255, 255, 255, 1);
  width: 586px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Hind Madurai;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text17 {
  color: rgba(255, 255, 255, 1);
  width: 586px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-frame1218 {
  top: 451px;
  left: 112px;
  width: 293px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(66, 66, 66, 1);
}
.desktop122-text18 {
  top: 25px;
  left: 80px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text19 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-image3 {
  top: 0px;
  left: 730px;
  width: 938px;
  height: 626px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.desktop122-frame3220 {
  top: 2107px;
  left: 0px;
  width: 1440px;
  height: 570px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.desktop122-text20 {
  top: 34px;
  left: 112px;
  color: rgba(255, 255, 255, 1);
  width: 468px;
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text21 {
  color: rgba(255, 255, 255, 1);
  width: 468px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
  font-family: 'Montserrat';
}
.desktop122-text22 {
  top: 368px;
  left: 112px;
  color: rgba(255, 255, 255, 1);
  width: 420px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Hind Madurai;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text23 {
  color: rgba(255, 255, 255, 1);
  width: 420px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-frame4223 {
  top: 112px;
  left: 746px;
  width: 542px;
  height: 62px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop122-text24 {
  top: 15px;
  left: 42px;
  color: rgba(180, 180, 180, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text25 {
  color: rgba(180, 180, 180, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-frame5226 {
  top: 196px;
  left: 746px;
  width: 542px;
  height: 172px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop122-text26 {
  top: 15px;
  left: 42px;
  color: rgba(180, 180, 180, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text27 {
  color: rgba(180, 180, 180, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-frame1228 {
  top: 405px;
  left: 870px;
  width: 293px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(66, 66, 66, 1);
}
.desktop122-text28 {
  top: 25px;
  left: 80px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text29 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-frame6230 {
  top: 1503px;
  left: 0px;
  width: 1440px;
  height: 602px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(4, 4, 4, 1);
}
.desktop122-text30 {
  top: 56px;
  left: 107px;
  color: rgba(255, 255, 255, 1);
  width: 435px;
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: 'Montserrat';
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text31 {
  color: rgba(255, 255, 255, 1);
  width: 435px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
  font-family: 'Montserrat';
}
.desktop122-text32 {
  top: 364px;
  left: 107px;
  color: rgba(255, 255, 255, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Hind Madurai;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text33 {
  color: rgba(255, 255, 255, 1);
  width: 399px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-frame5233 {
  top: 87px;
  left: 1020px;
  width: 400px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop122-text34 {
  top: 15px;
  left: 42px;
  color: rgba(180, 180, 180, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text35 {
  color: rgba(180, 180, 180, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-image4 {
  top: -19px;
  left: -168px;
  width: 655px;
  height: 437px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.desktop122-frame6235 {
  top: 87px;
  left: 1458px;
  width: 400px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop122-text36 {
  top: 15px;
  left: 42px;
  color: rgba(180, 180, 180, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text37 {
  color: rgba(180, 180, 180, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-frame7237 {
  top: 87px;
  left: 582px;
  width: 400px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop122-text38 {
  top: 15px;
  left: 42px;
  color: rgba(180, 180, 180, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text39 {
  color: rgba(180, 180, 180, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-image5 {
  top: -11px;
  left: -158px;
  width: 715px;
  height: 422px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.desktop122-svg {
  top: 526px;
  left: 962px;
  width: 26;
  height: 26;
  position: absolute;
}
.desktop122-svg1 {
  top: 526px;
  left: 1036px;
  width: 26;
  height: 26;
  position: absolute;
}
.desktop122-svg2 {
  top: 526px;
  left: 999px;
  width: 26;
  height: 26;
  position: absolute;
}
.desktop122-frame832 {
  top: 2679px;
  left: 0px;
  width: 1440px;
  height: 111px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(43, 43, 43, 1);
}
.desktop122-text40 {
  top: 35px;
  left: 565px;
  color: rgba(90, 90, 90, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Hind Madurai;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-text41 {
  color: rgba(90, 90, 90, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop122-image6 {
  top: 241px;
  left: 698px;
  width: 704px;
  height: 469px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
